@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400&family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url('idroid.otf');
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-image: linear-gradient(to bottom, #3CD782, #195B38);
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
    color: white;
    padding: 15px 15px 5px 15px;
}

.cabecalho {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
    margin: 5px 0px 25px 0px;
    text-align: center;
}

h1#titulo {
    font-family: Bebas Neue;
}

nav {
    margin: 33px 0px 0px 0px;
}

nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 6px;
}

nav > a:hover {
    background-color: #41D976;
    transition: 1s;
}

h1#h1conteudo {
    font-family: idroid;
    font-size: 2rem;
    padding: 10px 10px 20px 10px;
    color: #195B38;
}

h2 {
    background-image: linear-gradient(to right, #84E0AD, #84E0AD, transparent, transparent);
    color: #195B38;
    padding: 0px 0px 0px 10px;
    margin: 10px;
    font-family: idroid;
}

body {
    background-color: #84E0AD;
}

main {
    background-color: white;
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 13px 5px rgb(0 0 0 / 21%);
    border-radius: 0px 0px 10px 10px;
}

p {
    font-family: alexandria;
    font-weight: 400;
    text-indent: 30px;
    text-align: justify;
    padding: 10px;
}

img {
    display: block;
    margin: auto;
    width: 95%;
}

#imagemnormal {
    width: 40%;
}

aside {
    background-color: #195B38;
    text-align: center;
    padding: 20px;
    margin: 0px;
}


#titulofinal {
    color: white;
    background-color: #2BA663;
    margin: 15px 15px 0px 15px;
    border-radius: 15px 15px 0px 0px;
}

#quadrofinal {
    background-color: #C5EBD6;
    margin: 0px 15px 0px 15px;
    border-radius: 0px 0px 15px 15px;
    padding-bottom: 15px;
}

#mensagemfinal {
    margin: 10px;
    padding-bottom: 40px;
}

footer {
    background-color: #195B38;
    font-size: 0.8rem;
}

footer > p {
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    margin-right: 4%;
}

footer > p > a {
    color: whitesmoke;
    font-weight: 400;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}

.link1 {
    color: #195B38;
    text-decoration: none;
    font-weight: bold;
}

.link1:hover {
    text-decoration: underline;
}

.link2 {
    color: #195B38;
    text-decoration: none;
    font-weight: bold;
}

.link2:hover {
    text-decoration: underline;
}

.linked {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0px 4px 0px 4px;
}

li {
    margin: 0px 0px 0px 25px;
}

.listado {
    padding-left: 15px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

aside.lista1 {
    font-family: alexandria;
    background-color: #C5EBD6;
    display: inline-block;
    text-align: justify;
    margin: 0px 0px 0px 0px;
}

aside.lista2 {
    font-family: alexandria;
    background-color: #C5EBD6;
    display: inline-block;
    text-align: justify;
    margin-left: 8%;
    padding-left: 8%;
}

.lista3 {
    display: inline-block;
    text-align: left;
    text-indent: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px dotted black;
}

aside > p > a {
    text-decoration: none;
    color: black;
}

aside > p > a:hover {
    color: #2BA663;
}